// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chzn-choices {
  width: 350px;
}
.chzn-container {
  width: 150px;
}
.chzn-single{
  width: 150px;
}
.chzn-drop {
  width: 150px;
}
